aiohttp
opencv-python-headless
numpy
websockets
pytesseract
python-dotenv
google-generativeai
pillow
gtts
pymongo[srv]
PyJWT
bcrypt
motor
langchain_community
langchain-text-splitters
langchain-google-genai>=0.1.0
langchain
pypdf
pymilvus
aiohttp_cors
faiss-cpu
edge_tts